<a href="http://takeanumber.tech" target="_blank"
  ><img class="appLogo" src="../../assets/takeANumber.png" end
/></a>
<ion-header class="topBar">
  <ion-icon
    class="addCustomerIcon"
    (click)="addCustomerModal()"
    name="person-add"
  ></ion-icon>
  <img class="restaurantLogo" src="{{restaurantLogo}}" end />
</ion-header>

<ion-header>
  <ion-segment
    centered
    color="primary"
    [(ngModel)]="tab"
    (ionChange)="segmentChanged($event)"
  >
    <ion-segment-button value="open">
      <ion-label>In Progress ({{inProgressTotal}})</ion-label>
      <ion-icon color="primary" name="restaurant"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="completed" checked>
      <ion-label>Completed ({{completedTotal}})</ion-label>
      <ion-icon color="success" name="checkbox"></ion-icon>
    </ion-segment-button>

    <ion-segment-button value="cancelled" checked>
      <ion-label>Cancelled ({{cancelledTotal}})</ion-label>
      <ion-icon color="danger" name="trash"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content padding>
    <div [ngSwitch]="tab">
      <div *ngSwitchCase="'open'">
        <ion-item *ngIf="inProgressTotal < 1">
          <ion-label>
            <h2>No Active Orders.</h2>
          </ion-label>
        </ion-item>

        <ion-list
          class="listContainer inProgressList"
          *ngFor="let item of itemList | async"
        >
          <ion-item-sliding *ngIf="item.status == 'in-progress'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end">
                Started Order<br />{{'@'}} {{item.time_inProgress}}
              </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'waiting')"
              >
                <ion-icon
                  slot="icon-only"
                  name="alarm"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
              <ion-item-option
                color="success"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'complete')"
              >
                <ion-icon
                  slot="icon-only"
                  name="checkmark-circle-outline"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                >
                </ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option
                color="danger"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'on-hold')"
              >
                <ion-icon
                  slot="icon-only"
                  name="pause-circle"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
              <ion-item-option
                color="dark"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'cancelled')"
              >
                <ion-icon
                  slot="icon-only"
                  name="trash"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>

              <ion-item-option
                color="secondary"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="textCustomerModal($event)"
              >
                <ion-icon
                  slot="icon-only"
                  name="chatbox-ellipses"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <div *ngSwitchCase="'completed'">
        <ion-item *ngIf="completedTotal < 1">
          <ion-label>
            <h2>No Completed Orders.</h2>
          </ion-label>
        </ion-item>
        <ion-list
          class="listContainer completedList"
          *ngFor="let item of itemList | async"
        >
          <ion-item-sliding *ngIf="item.status == 'complete'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end">
                Started Order<br />{{'@'}} {{item.time_inProgress}}
              </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option
                color="primary"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'in-progress')"
              >
                <ion-icon
                  slot="icon-only"
                  name="restaurant"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                  (click)="statusUpdate($event, 'in-progress')"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option
                color="danger"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'on-hold')"
              >
                <ion-icon
                  slot="icon-only"
                  name="pause-circle"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
              <ion-item-option
                color="dark"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'cancelled')"
              >
                <ion-icon
                  slot="icon-only"
                  name="trash"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>

              <ion-item-option
                color="secondary"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="textCustomerModal($event)"
              >
                <ion-icon
                  slot="icon-only"
                  name="chatbox-ellipses"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>

      <div *ngSwitchCase="'cancelled'">
        <ion-item *ngIf="cancelledTotal < 1">
          <ion-label>
            <h2>No Cancelled Orders.</h2>
          </ion-label>
        </ion-item>
        <ion-list
          class="listContainer cancelledList"
          *ngFor="let item of itemList | async"
        >
          <ion-item-sliding *ngIf="item.status == 'cancelled'">
            <ion-item>
              <ion-label>
                <h2>{{item.id}} &mdash; {{item.name}}</h2>
              </ion-label>
              <ion-note slot="end"> {{item.time}} </ion-note>
            </ion-item>

            <ion-item-options side="start">
              <ion-item-option
                color="primary"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event, 'in-progress')"
              >
                <ion-icon
                  slot="icon-only"
                  name="restaurant"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                ></ion-icon>
              </ion-item-option>
            </ion-item-options>

            <ion-item-options side="end">
              <ion-item-option
                color="success"
                id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                (click)="statusUpdate($event,'complete')"
              >
                <ion-icon
                  slot="icon-only"
                  name="checkmark-circle-outline"
                  id="{{item.timeStamp + '_' + item.name + '|' + item.phone}}"
                >
                </ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-list>
      </div>
    </div>
  </ion-content>
</ion-content>
