/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import "@ionic/angular/css/palettes/dark.system.css";

:root {
  --ion-safe-area-top: 20px;
  --ion-safe-area-bottom: 22px;
  --ion-color-primary: #299e0e;
}

html {
  background-image: url(./assets/background.jpg);
  background-position: center;
  background-size: cover;
}

ion-item {
  --border-width: 0;
  --inner-border-width: 0;
}
ion-card {
  padding: 10px 0;
}
ion-title {
  font-weight: bold;
  text-align: right;
  padding: 20px;
}
ion-title h1 {
  text-align: center;
}
ion-label h2 {
  font-size: 1.25em !important;
  border: none !important;
  padding: 10px;
}
ion-note {
  font-size: 1em;
  text-align: right;
}
ion-note ion-button {
  margin-right: 0;
}
ion-header ion-toolbar {
  min-height: 80px;
}
ion-item-sliding {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.sc-ion-alert-md-h {
  --min-width: 80%;
}
.ion-page {
  max-width: 500px;
  margin: 0 auto;
  box-shadow: 3px 0px 8px rgba(0, 0, 0, 0.5);
}
.account-info ion-input,
.account-info ion-textarea {
  margin-top: 10px;
  text-align: right;
  font-size: 0.8em;
}
.account-info ion-label,
.account-info ion-select {
  font-size: 0.8em;
}
ion-button {
  margin: 10px;
}
.right {
  float: right;
  font-size: 0.8em;
}
button {
  background: #2ad85b;
  color: #fff;
  padding: 15px 30px;
  border-radius: 10px;
  width: calc(100% - 20px);
  font-size: 1.25em;
  margin: 15px auto;
  display: block;
}
button.cancel {
  background: #fb0929;
}
button.secondaryAction {
  cursor: pointer;
  color: #12ab44;
  border: 1px solid #12ab44;
  border-radius: 20px;
  background: transparent;
  font-size: 1em;
  text-align: center;
}
.alert-button.sc-ion-alert-md {
  display: inline-block;
  width: calc(50% - 10px);
  color: #111;
  border-radius: 0;
}
.alert-button-inner.sc-ion-alert-md {
  justify-content: center;
}
.alert-button.sc-ion-alert-md:nth-child(2) {
  border-left: 1px solid #ddd;
}
// ion-segment {
//   width: calc(100% + 10px);
//   margin-left: -5px;
// }
ion-segment-button {
  background: #eee;
  --border-width: 0px;
  --indicator-color-checked: 0;
  border-radius: 0;
  margin-bottom: 0;
  padding-top: 0px;
  padding-bottom: 0px;
  //   width: calc(100% / 3);
}
ion-segment-button.segment-button-checked {
  background: #fff;
  --border-width: 0px;
  --indicator-color-checked: 0;
  --border-radius: 0;
}

ion-button.fullWidth {
  width: calc(100% - 20px);
}
.toastController {
  --background: #222;
  color: #fff;
}
.spacer {
  display: block;
  width: 100%;
  height: 3em;
}
p {
  padding: 10px;
  margin: 0;
}
.topBar {
  min-height: 80px;
  background: #fff;
}
// #nameInput {
//   font-size: 1.5em;
//   font-weight: bold;
//   margin-top: -0.5em;
// }
#nameInput,
#phoneNumberInput {
  border: 1px solid #777;
  padding-left: 10px !important;
  border-radius: 4px;
  color: #999;
  margin-top: 10px;
}
.myNumberCard {
  text-align: center;
  margin: 0 auto;
}
.myNumberCard ion-card {
  margin-top: -10px;
  padding: 20px 0;
}
.myNumberCard h3 {
  font-size: 1em;
  margin: 0;
}
.myNumberCard h1 {
  font-size: 8em;
  font-weight: bold;
  line-height: 0.8em;
  margin-top: 0;
}
ion-label span.end {
  position: absolute;
  right: 20px;
}
.label-floating.md {
  padding-bottom: 10px !important;
}
.myNumberCard h2 {
  font-size: 2em;
  line-height: 0.8em;
}
.myNumberCard .name {
  line-height: 1.25em;
  margin: -10px 0 0;
}
.list-md {
  padding: 0;
}
.qrMessage {
  display: none;
}
.qrcode img {
  display: block;
  margin: 0 auto;
  width: 250px !important;
}
#qrIMG {
  opacity: 0.2;
}
.restaurantLogo {
  width: 50px;
  left: 10px;
  z-index: 999;
  position: absolute;
  top: 5px;
  height: 50px;
}
.sideMenu ion-item:first-child {
  margin-top: 100px;
}
.closeIcon {
  width: 25px;
  z-index: 999;
  position: absolute;
  top: 5px;
  height: 50px;
  right: 20px;
  cursor: pointer;
}
.addCustomerIcon {
  width: 20px;
  z-index: 999;
  position: absolute;
  top: 15px;
  height: 20px;
  right: 20px;
  cursor: pointer;
  border: 2px solid #555;
  border-radius: 50%;
  padding: 10px;
}
.appLogo {
  max-width: 85px;
  max-height: 85px;
  position: absolute;
  left: calc(50% - 40px);
  z-index: 999999;
  top: -5px;
  display: block;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.3);
}
.account-info ion-item {
  border-bottom: 1px solid #ddd;
}
ion-tab-button {
  position: relative;
}
ion-tab-bar {
  padding-bottom: 0 !important;
}
ion-tab-button {
  background: #fff;
  color: #444;
}
ion-tab-button.tab-selected {
  border-top: 4px solid;
  border-color: #111;
  color: #111;
  background: #fff;
}
#tab-button-tab1:before,
#tab-button-tab2:before {
  position: absolute;
  background: red;
  padding: 8px;
  color: white;
  border-radius: 15px;
  min-height: 5px;
  min-width: 5px;
  right: 20%;
  line-height: 0.3em;
  font-size: 10px;
  font-weight: bold;
  z-index: 9;
}

#totalTimeChart,
#waitTimeChart {
  display: none;
}

#messageTopic {
  width: 100%;
  max-width: none;
  // text-align: right;
}

.message-info ion-label {
  flex: none;
  font-weight: bold;
  display: none !important;
}

.messagePreview p {
  width: calc(80% - 30px);
  padding: 20px;
  background: #eee;
  margin: 0 15px;
  border-radius: 20px;
  color: #111;
  position: relative;
}
.messagePreview p:before {
  content: "";
  position: absolute;
  z-index: 0;
  bottom: 0;
  left: -7px;
  height: 20px;
  width: 20px;
  background: #eee;
  border-bottom-right-radius: 15px;
}

.messagePreview p:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;
  width: 10px;
  height: 20px;
  background: white;
  border-bottom-right-radius: 10px;
}

ion-modal {
  --height: 500px !important;
}

@media (prefers-color-scheme: dark) {
  ion-segment-button {
    color: #fff;
    background: #444;
  }
  ion-segment-button.segment-button-checked {
    background: #000 !important;
  }
  ion-content {
    --background: #595959 !important;
    --background-color: #595959 !important;
    background-color: #595959 !important;
  }
  ion-item,
  ion-card {
    --background: #222 !important;
    --background-color: #222 !important;
    background-color: #222 !important;
  }
  .textSettingsContainer {
    --background: #777 !important;
    --background-color: #777 !important;
    background-color: #777 !important;
    color: #000 !important;
    border-color: #000;
  }
  .textSettingsContainer ion-item {
    --background: #777 !important;
    --background-color: #777 !important;
    background-color: #777 !important;
  }
  .textSettingsContainer h5,
  .textSettingsContainer p,
  .textSettingsContainer a {
    color: #000 !important;
  }
  #nameInput,
  #phoneNumberInput {
    border: 1px solid #777;
    padding-left: 10px !important;
    border-radius: 4px;
    background: #000;
    color: #999;
  }
  .topBar {
    --background: #444 !important;
    --background-color: #444 !important;
    background-color: #444 !important;
  }
  .checkTextSettings {
    color: #fff;
    border: 1px solid #fff;
  }
  ion-tab-button {
    background: #222 !important;
    color: #ddd;
  }
  ion-tab-button.tab-selected {
    border-color: #12ab44;
    color: #12ab44;
  }
}
